@font-face {
	
	font-family:'SmallTypeWritingMedium';
	src: url('Police/SmallTypeWritingMedium.ttf');

	}
@font-face
{
	font-family:'Roboto-Light';
	src: url('Police/Roboto-Light.ttf');
}
@font-face
{
	font-family:'Louis George Cafe';
	src: url('Police/Louis George Cafe.ttf');
}
@font-face
{
	font-family:'Comfortaa-Regular';
	src: url('Police/Comfortaa-Regular.ttf');
}
@font-face
{
	font-family:'LEMONMILK-Light';
	src: url('Police/LEMONMILK-Light.ttf');
}

/*Personalisation des polices de la page*/

h1{ /*Titre Principal de la page'KAOUECH MOUHEB'*/
	font-family:'Roboto-Light', Arial, sans-serif;
	font-size:56px;
	font-weight:normal;	
}

h2{ /*Personalisation des titres de niveau h2, contact, a propos de moi, loisir*/
	text-align: center;
	background: #404040;
	color:#feca07;
	font-size: 32px;
	padding:4px;
}
h3{/*Personalisation des titres de niveau h3, formation, expérience professionnel, recom..*/
	font-size:1.5em;
}
h4{/*Personnalisation des titres de niveau h4, les noms des écoles et des entreprises */
	font-size: 1.3em;
	margin-bottom: -12px;
}
h5{/*Personalisation des tires de niveau h5, les noms des formations et des postes de travail*/
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: -9px;
}

hr{ /*Personalisation de treuil qu'en trouve sous les titres, form.., exp..reco.*/
	border: solid 1px;
	border-color:#feca07;
	margin-top: -12px;
}
body{
	font-family:'Louis George Cafe', Arial, sans-serif;

}

/*Mise forme de la page, application de flex box et dévision de la page en plusieurs container*/
main{
	display:flex;
	flex-wrap: wrap;
}
/*Personalisation des sections Photo de profil, contact, a propos de moi et loisir*/

/*Personlaisation de la section Photo de profil 'container1'*/
.container1{ 
	order:0;
	width: 32%;
	min-width: 200px;
	background:#feca07;	
}
img.photoProfil
{
	border:4px solid #daaf12;
	border-radius:200px;
	margin-top:11.23%;
	margin-bottom:8%;
	margin-left: 21%;
	margin-right: 21%;
	width:56%;
	height:56%;
}
/*Personalisation de la section contact*/
.container2{
	order:3;
	width: 32%;
	min-width: 200px;
	background:#feca07;
}
address {
	font-style: normal;
	margin: 51px;
}
a {
	text-decoration: none;
	color:black;
}
/*Personalisation de la section a propos de moi*/
.container3{
	order:5;
	width: 32%;
	min-width: 200px;
	background:#feca07;

}
div p#aPropos{
margin:51px;
font-family:SmallTypeWritingMedium, Arial, sans-serif;	
}

/*Personalisation de la section loisirs*/
.container4{
	order:7;
	width: 32%;
	min-width: 200px;
	background:#feca07;
}
img#loisir{
	margin-left:10%;
	margin-right:10%;
	width: 70%;
	 
}
/*Personalisation des sections, kaouech, formation, expérience professionnel et recommandation*/

/*Personalisation de la section 'KAOUECH MOUHEB' '*/
.container5{
	order:2;
	width:63% ;
	min-width: 443px;
	margin-left:5%;
	margin-top: 7%;	
}
span#kaouech{
	color:#feca07;
	font-weight: bold;
}
span#deve{
	text-decoration: underline #feca07;

}
.developpeur{
	font-size:28px;
	margin-top:-20px; 
}

/*Personalisation de la section formation*/
.container6{
	order:4;
	width: 63%;
    min-width: 443px;
	margin-left:5%;
}
.items1{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.items1 div:first-of-type{
	margin-top:;
	width:30%;
	}
.items1 div:nth-of-type(2){
	order:3;
	margin-top:;
	width:30%;
}
.items1 div:nth-of-type(3){
	width:60%;
	}
.items1 div:last-of-type{
	width:60%;
	order:4;
}
/*Personalisation de la section expérience professionnel*/
.container7{
	order:6;
	width: 63%;
    min-width: 443px;
	margin-left:5%;
}
.items2{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.items2 div:first-of-type{
	width:30%;
}
.items2 div:nth-of-type(2){
	width:60%;
}
.items2 div:nth-of-type(3){
	width:30%;
}
.items2 div:nth-of-type(4){
	width:60%;
}
.items2 div:nth-of-type(5){
	width:30%;
}
.items2 div:last-of-type{
	width:60%;
}

/*Personalisation de la section recommandation*/
.container8{
	order:8;
	width: 62%;
    min-width: 443px;
	margin-left:5%;
}
.items3{
	display:flex;
	flex-wrap: wrap;
	
	}
.items3 div:first-of-type{
	width:250px;
	min-width: 100px;
	margin-right: 10%;
}
.items3 div:last-of-type{
	width:250px;
	min-width: 100px;
}
/*Personalisation de la section date, ville, poste actuel et les logos */

div.point{      /*items de type container contient lui aussi deux items'logos de point et date'*/
	display: flex;	
}
.point{ /* ajustement de container en hauteur*/
	padding-top:16px;
}
.image{ /*la class image regroupe les logos de point */
	padding-right:20px;
}

.logos {  /*les logos des titres, fotmation, exp..., recomma*/

	margin-right: 30px;
	margin-bottom:-10px; 
 }

/*___________/*Application des medias queries pour un écran de ipad______________________________________________*/

@media screen and (max-width: 800px){

body{
	background-image: url('Image/arrierePlan.jpg');
	background-repeat: no-repeat;
}
main{
	min-height: 1024px;
}
h1{
	font-size: 31px;
	margin-left: 20px;
	margin-top: 1px;
	font-family:'LEMONMILK-Light', Arial, sans-serif;
	font-weight: bold;
}
 h3{
 	font-size: 30px;
 	color:#feca07;
 	text-align: center;
 	background: #302e2e;
 	padding: 5px;
 }
hr{
	border:4px solid #feca07 ;
	width: 100%;
}
.treuil{
	margin-top: -10px;
}

/*Personalisation de la section photo de profil*/
.container1{
	background:none;
	order:3;
	flex-grow: 1;
	margin-top: -100px;
	margin-left:130px;
}
img.photoProfil
{
	border:4px solid #daaf12;
	border-radius:200px;
	width:56%;
	height:56%;
}
.container2{     /*Mes information de contact*/
	background: none;
	margin-left:10px;
	order:2;
}
address {
	font-style: normal;
	margin-top:-20px;
	margin-left: 10px;
	color:#feca07;
}
/*Personalisation de la section a propos de moi*/
.container3{      
	order:4;
	background:none;
	width: 100%;
}
div p#aPropos{
	font-family:'Comfortaa-Regular', Arial, sans-serif;
	margin-top:-10px;
	margin-left: 10px;
	box-shadow: 2px 4px 5px ;
	width: auto;
	padding: 10px;
}
/*Personalisation de la section loisirs*/
.container4{   
	order:7;
	width: 200px;
	background:white;
	display: none;
}

.container5{     /*Section titre KAOUECH MOUHEB*/ 
	margin-left:5px;
	order:1;	
	background: none;
	min-width: 200px;
	width: 100%;
}
.developpeur{
	font-size: 20px;
	margin-left: 20px;
	padding-top: 15px;
}
/*Personalisation de la section formation*/
.container6{        
	width: 100%;
	margin-left: 0px;
}
/*Personalisation de la section expérience professionnel*/
.container7{
	order:6;
	width:100%;
	margin-left: 0px;
	margin-top:20px; 
	}
/*Personalisation de la section recommandation*/
.container8{
 width: 100%;
 order:8;
 background: none;
 color:white;
 background: #302e2e;
 padding-top: 20px;
 margin-left: 0px;

 }
 .items3{
 	justify-content: space-around;
 }
 /*Les différentes éléments supprimer*/
.container2 h2{
	display: none;
}
.supprimer{          
	display: none;
}
 .container8 h3 .logos{
 	display: none;
}
   .container6 h3 .logos{
 	display: none;
}
  .container7 h3 .logos{
 	display: none;
}
.container3 h2{
	display: none;
}

/*___________/*Application des medias queries pour un écran de téléphone______________________________________________*/

@media screen and (max-width: 690px){


main{
	
	flex-direction: column;
	width: 100%;
}
h1{
	font-size: 30px;
	text-align: center;
	margin-top: 1px;
	font-family:'LEMONMILK-Light', Arial, sans-serif;
	font-weight: bold;
}
hr{
	margin-top: -25px;
}
.treuil{
	margin-top: -20px;
}

/*Personalisation de la section photo de profil*/
.container1{
	background:;
	order:1;
	width: 100%;
	margin-left: 22%;
	
}
img.photoProfil
{
	border:4px solid #daaf12;
	border-radius:200px;
	width:56%;
	height:56%;
	margin-left:50px;
	margin-top: 110px;
}
.container2{     /*Mes information de contact*/
	background: none;
	margin-left:10px;
	order:3;
	width: 100%;
}
address {
	font-style: normal;
	margin-top:-20px;
	margin-left: 10px;
	color:#feca07;
}
/*Personalisation de la section a propos de moi*/
.container3{      
	order:4;
	background:none;
	width: 100%;
	margin-bottom: -60px;
	margin-top: -20px;
}
div p#aPropos{
	font-family:'Comfortaa-Regular', Arial, sans-serif;
	margin-top:-10px;
	margin-left: 10px;
	box-shadow: 2px 4px 5px ;
	padding: 5px;
	width:100%;
}
.container5{     /*Section titre KAOUECH MOUHEB*/
	order:2;	
	background: none;
	min-width: 200px;
	width: 120%;
	margin-top: -20px;
}
.developpeur{
	font-size: 20px;
	text-align: center;
	padding-top: 1px;
}
/*Personalisation de la section formation*/
.container6{        
	width: 100%;
	margin-left: 0px;
}
/*Personalisation de la section expérience professionnel*/
.container7{
	order:6;
	width:100%;
	margin-left: 0px;
	margin-top:20px; 
	}
/*Personnalisation de la section recommandation*/
 .items3{
 	justify-content:flex-start;
 	margin-left: 10px;
 }
/*Personnalisation de la section contact'adresse, tel..'*/
.container2 div:first-of-type p{
	margin-bottom: -2px;
}
.container2 div:nth-of-type(2) p{
	margin-bottom: -2px;
}
.container2 div:nth-of-type(3) p{
	margin-bottom: -2px;
}
@media print{
	body{
	background-image: url('Image/arrierePlan.jpg');
	background-repeat: no-repeat;
}
}